.App {
    text-align: center;
    background-image: url("https://cdn.hswstatic.com/gif/why-is-sky-blue.jpg");
    height: 100vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.855);
    align-items: center;
    padding: 3px 10px;
}

.active {
    background-color: black;
}

.button {
    text-decoration: none;
    margin-left: 10px;
    color: white;
    padding: 5px;
    border-radius: 12px;
    border: 1px solid black;
}

.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherIcon {
    font-size: 2rem;
}

.favIcon {
    font-size: 1.5rem;
    margin-right: 8px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.footer div {
    border: 2px solid;
    padding: 20px;
}

.fav-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.fav-container .weathercard {
    border: 1px solid;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px;
}