* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url("../ShoppingProjectSetup_Week1Day2/signup.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

form input {
    display: block;
}

form {
    display: block;
    width: 200px;
    background-color: #565958;
    box-shadow: 1px 1px black;
    padding: 18px;
    position: relative;
    top: 45%;
    left: 37%;
    color: papayawhip;
}

form>input {
    display: inline-block;
    margin-top: 5px;
}

.btn {
    margin: auto;
    display: block;
    margin-top: 5px;
    background-color: #565958;
    color: white;
    padding: 3px;
    border: 0;
    box-shadow: 3px 3px 3px 3px darkslategrey;
}

.btn:hover {
    background-color: rgb(5, 5, 5);
    border-radius: 10%;
}